@import url('https://fonts.googleapis.com/css2?family=Alata&family=Belanosima:wght@400;600;700&display=swap');

div {
    flex: 1;
    text-align: center;
}

body {
    background-color: #000000;
    font-family: 'Alata', sans-serif;
    margin: 0;
    padding: 0;
}

.cardapio {
    background-color: #000000;
    margin-top: 0;
    font-family: 'Alata', sans-serif;
    padding: 5%;
    padding-top: 7%;
}

.cardapio-container {
    text-align: center;
}

.confira-lancamentos {
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    color: #ffffff;
    padding-right: 5%;
    margin-bottom: 100px;
}

.confira-lancamentos .confira-img img {
    width: 50%;
    height: auto;
}

.confira-texto {
    text-align: left;
    flex: 1;
}

.confira-titulo {
    font-size: 3.5vw;
    color: #ffffff;
    margin: 0;
    font-family: 'Belanosima', serif;
    font-weight: 600;
}

.confira-highlight {
    border-bottom: 0.3vw solid #FFBA21;
}

.confira-subtexto {
    font-size: 1.6vw;
    margin-top: 10px;
    text-align: left;
}

.incos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 7%;
}

.incons-lanche{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.incos p {
    color: #ffffff;
    font-size: 1.5vw;
}

.incos img {
    width: 3vw;
    height: 3vw;
}

.lancamento-titulo {
    font-size: 3.5vw;
    color: #ffffff;
    margin: 5%;
    font-family: 'Belanosima', serif;
    font-weight: 600;
}

.lancamentos-highlight {
    border-bottom: 0.3vw solid #B42625;
}

.lancamento-produtos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
}

.lancamento-produtos p {
    font-size: 1.5vw;
    margin-top: 1rem;
    color: #FFBA21;
    font-family: 'Belanosima', serif;
    font-weight: 600;
}

.produtos01, .produtos02, .produtos03 {
    border-radius: 30px;
    background-color: #000000;
    border: 0.3vw solid #FFBA21;
    padding: 5% 0;
    width: 30rem;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.produtos01 img, .produtos02 img, .produtos03 img {
    transition: all 0.5s;
}

.produtos01:hover, .produtos02:hover, .produtos03:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1);
    background-color: #FFBA21;
    color: #B42625;
    border: #FFBA21 0.8rem solid;
}

.produtos01 p, .produtos02 p, .produtos03 p {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px; 
    text-align: center;
    width: 100%;
}

.produtos01:hover p, .produtos02:hover p, .produtos03:hover p {
    color: #B42625; 
}

.produtos01:hover img, .produtos02:hover img, .produtos03:hover img {
    transform: scale(1.2); 
}

.cardapio-titulo {
    font-size: 3.5vw;
    color: #ffffff;
    margin: 5%;
    font-family: 'Belanosima', serif;
    font-weight: 600;
}

.cardapio-highlight {
    border-bottom: 0.3vw solid #B42625;
}

.lanches {
    display: grid;
    gap: 3rem 13rem; 
    grid-template-columns: repeat(3, 12rem);
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    justify-items: center;
}

.cardapio-pedidos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.food_button:hover {
    outline: none;
    margin: none;
    color: #000000;
    border: 2px solid #FFBA21;
}

.lanc_button{
    background-color: black;
    outline: none;
    border: none;
}

.nome_comida {
    color: white;
    font-family: "Belanosima", serif;
    font-size: 1.7rem;
    font-weight: 600;
    margin-top: 10px;
    text-align: start;
}

.food_text {
    color: white;
}

.descricao {
    color: white;
    text-align: start;
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

.preco {
    text-align: start;
    color: #FFBA21;
    font-size: 1.3rem;
}

.preco:hover {
    color: #ffcd61;
}

.image {
    border-radius: 10px;
    width: 15rem;
}

.image_div {
    background-color: #FFBA21;
    width: 15.3rem;
    height: 15rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
}

.food_button{
    background-color: #000000;
}

.modal_box {
    width: 20px;
}

.title_modal{
    font-size: 2rem;
    font-weight: 600;
    font-family: "Belanosima", serif;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #000000;
}

.description_modal{
    margin-bottom: 1rem;
    color: #000000;
}

.increase_button{
    flex-direction: row;
    display: flex;
    align-items: center;
    background-color: #FFE4AA;
    border-radius: 0.8rem;
    color: #000000;
    border: 1px solid #000000;
    height: 2.5rem;
}

.quantity_modal{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2rem;
}

.button_add, .button_sub{
    background-color: #ffffff;
    background-color: #FFE4AA;
    color: #000000;
    margin: 10px;
    height: 2.5rem;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center; 
}

.quantity_number{
    font-size: 1rem;
    font-weight: 600;
}

.preco_modal{
    font-size: 1.5rem;
    font-weight: 600;
    color: #000000;
}

.total_modal{
    font-size: 0.8rem;
    color: #000000;
}

.bottom_modal{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.obs{
    width: 19rem;
    margin-bottom: 2rem;
    height: 3.5rem;
    background-color: #FFE4AA;
    border: 1px solid #000000;
    border-radius: 0.5rem;
    display: flex;    
    padding-left: 1rem;
    color: #000000;
}

.obs::placeholder {
    font-size: 0.9rem; 
    color: #000000; 
    font-weight: 600;
    font-family: 'Alata', sans-serif;

}

.carrinho{
    width: 20rem;
    color: #000000;
    margin-bottom: 2rem;
    height: 3.5rem;
    background-color: #FFE4AA;
    border: 1px solid #000000;
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem; 
    font-style: normal;
    font-weight: 400;
}

.carrinho:hover{
    background-color: #AA2322;
    color: #ffffff;
    border: 2px solid #FFBA21;
    outline: #FFD984;
}

.carrinho:hover img {
    filter: invert(100%);
}

.modal_body{
    background-color: #FFD984;
    border-radius: 3rem;
    padding: 1rem;
}

.lancamentoImg{
    width: 20rem;
    min-height: 20rem;
}
