@import url('https://fonts.googleapis.com/css2?family=Alata&family=Belanosima:wght@400;600;700&display=swap');

body {
    background-color: #000000;
    font-family: 'Alata', sans-serif;
    margin: 0;
    padding: 0;
}

.carrinho-container {
    background-color: #000000;
    margin-top: 0;
    font-family: 'Alata', sans-serif;
    padding: 5%;
    padding-top: 7%;
}

.carrinho-titulo {
    display: flex;
    padding-left: 10%;
}

.titulo-carrinho {
    font-size: 2.5vw;
    color: #ffffff;
    margin: 0;
    margin-left: 1%;
    font-family: 'Belanosima', serif;
    font-weight: 600;
    border-bottom: 0.3vw solid #B42625;
}

.icon-carrinho {
    width: 5%;
    height: auto;
}

.pedidos-container {
    margin: 5% 10%;
    padding: 2%;
    border-radius: 50px;
    border: 4px solid #B42625;
    background: #141C1E;
}

.pedidos-carrinho {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.img-lanche {
    width: 10%;
    height: auto;
    margin-right: 1vw;
}

.textos-lanche {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
}

.nome-lanche {
    font-size: 1.5vw;
    color: #ffffff;
    margin: 0;
    font-family: 'Belanosima', serif;
    font-weight: 600;
}

.descricao-lanche {
    font-size: 1.2vw;
    color: #ffffff;
    margin: 0;
    margin-top: 0.5vw;
    font-family: 'Alata', sans-serif;
}

.preco-unitario {
    font-size: 1.5vw;
    color: #B42625;
    margin: 0;
    display: flex;
    justify-content: flex-end;
}

.opcoes-consumo {
    display: flex;
    padding-left: 10%;
}

.titulo-opcoes {
    font-size: 2.5vw;
    color: #ffffff;
    margin: 0;
    margin-left: 1%;
    font-family: 'Belanosima', serif;
    font-weight: 600;
    border-bottom: 0.3vw solid #B42625;
}

.total-compra {
    display: flex;
    justify-content: flex-end;
    font-size: 1.5vw;
    color: #ffffff;
    margin-top: 2rem;
}

.lista-pedidos {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
}

.finalizar-pedido {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5%;
}

.pedido-finalizado {
    border-radius: 20px;
    background: #B42625;
    color: #ffffff;
    font-size: 1.5vw;
    font-family: 'Belanosima', serif;
    font-weight: 600;
}