body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Seção de Boas-Vindas */
.boas_vindas {
    position: relative;
    height: 50vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--vermelho);
    z-index: 1;
    padding: 0;
    margin: 0;
}

.boas_vindas_img {
    width: 55%;
    height: 100%;
    background-image: url('../../assets/inicialcolaboradores/equipe.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: end;
}

.boas_vindas_img .img_overlay {
    height: 100%;
    width: 50%;
    background: linear-gradient(to right, transparent, var(--vermelho));
}

.boas_vindas_texto {
    width: 40%;
    text-align: center;
    color: white;
    font-family: 'Belanosima';
    overflow-wrap: break-word;
}

.boas_vindas_texto h1 {
    font-size: 4vw;
    text-shadow: 0px 10px 5px rgba(0, 0, 0, 0.219);
    font-family: 'Belanosima';
    margin-left: 28%;
}

.boas_vindas_texto p {
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin-left: 10%;
}

/* Seção Sobre a Empresa */
.sobre_empresa {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 110px 10%;
    min-height: 400px;
    width: 100%;
}

.texto_empresa {
    flex: 1;
    color: white;
    font-family: 'Belanosima';
    text-align: left;
    padding-right: 40px;
}

.texto_empresa h2 {
    font-size: 4vw;
    color: #FFBA21;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.texto_empresa p {
    font-size: 1.5vw;
    line-height: 1.6;
}

.imagem_equipe {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: center;
}

.imagem-equipe {
    width: 30vw;
    border-radius: 8px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

/* Seção Informações Gerais */
.informacoes_gerais {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--vermelho);
    color: white;
    padding: 40px 10%;
    font-family: 'Belanosima', sans-serif;
    flex-wrap: wrap;
    gap: 1rem;
}

.contatos_uteis {
    flex: 1;
    text-align: center;
}

.contatos_uteis h2,
.localizacao h2 {
    font-size: 2vw;
    font-weight: bold;
    color: #ffc107;
}

.contato_item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    font-size: 1vw;
}

.contato_item img {
    width: 10%;
    height: auto;
}

.linha_divisoria {
    height: 1vh;
    background-color: #ffc107;
    margin: 0 40px;
}

.localizacao {
    flex: 1;
    text-align: center;
}

.mapa_container img {
    width: 15vw;
    max-width: 30vw;
    border-radius: 20px;
}

/* Responsivo */
@media (max-width: 768px) {
    .informacoes_gerais {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px 5%;
    }

    .linha_divisoria {
        display: none;
    }

    .imagem-equipe {
        width: 50vw;
    }
}
