@import url('https://fonts.googleapis.com/css2?family=Alata&family=Belanosima:wght@400;600;700&display=swap');
  

.forms-container {
    border-radius: 2vw; 
    border: 0.2vw solid #B42625; 
    background: #141C1E; 
    margin: 15% auto; 
    padding: 2vw; 
    max-width: 20vw; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.forms-conteudo {
    width: 100%; 
    text-align: center; 
}

.titulo-login {
    color: #FFF; 
    font-size: 2vw; 
    font-family: 'Belanosima', serif; 
    font-weight: 600; 
    margin-bottom: 10%; 
}

.preencher-forms {
    display: flex;
    flex-direction: column;
    gap: 1vw; 
    width: 100%;
}

.input-login, .input-senha {
    padding: 0.75vw; 
    font-size: 1vw; 
    border: none; 
    border-radius: 2.5vw; 
    background-color: #1E282A;
    color: #FFF; 
    outline: none;
}

.input-login::placeholder, .input-senha::placeholder {
    color: #888; 
}

.botao-login {
    padding: 0.75vw; 
    font-size: 1vw; 
    color: #FFF; 
    background-color: #B42625; 
    border: none; 
    border-radius: 2.5vw; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
    width: 100%; 
    font-family: 'Belanosima', serif;
    font-weight: 600;
}

.botao-login:hover {
    background-color: #A31E1A; 
}

.error-message{
    color: #FFF;
    font-size: 1vw;
}

.senha-container {
    position: relative;
    width: 100%;
}

.senha-container .input-senha {
    width: 100%;
    padding-right: 2.5vw; /* espaço para o ícone */
}

.botao-visualizar-senha {
    position: absolute;
    top: 50%;
    right: 0.8vw;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
    color: #888;
    font-size: 1.2vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
