/* .mesas-cabecalho {
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    margin-top: 5%;
    margin-top: 5%;
}

.titulo-mesas {
    margin: 5vw 0;
    color: #FFF;    
    font-family: Belanosima;
    font-size: 2vw;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-bottom: 0.3vw solid #FFBA21;
}

.pedidos-cabecalho {
    display: flex;
    align-items: flex-start;
    justify-content:center ;
    flex-direction: column;
}

.numero-mesa {
    display:flex;
    justify-content: flex-start;
    color: #AA2322;
    background-color: #FFBA21;
    border: 0.3vw solid #961A1A;
    border-radius: 1vw;
    font-family: Alata;
    font-size: 1vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 1vw;
}

.status {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.status-texto {
    color: #FFF;
    font-family: Belanosima;
    font-size: 1.3vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-bottom: 0.2vw solid #B42625;
    text-align: center;
}

.resultado {
    color: #FFF;
    font-family: Belanosima;
    font-size: 1.3vw;
    font-style: normal;
    font-weight: 400;
    margin-left: 1rem;
}
.resultado-pedido-feito{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 5px 20px;
    width: 100%;
}

.entregadorimg {
    width: 2.5vw;
    height: 2.5vw;
    margin-left: 1rem;
}

.comanda{
    display: flex;
    align-items: start;
    justify-content:center ;
    flex-direction: column;
    padding: 50px 0;
}

.titulo-comanda {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 4%;
    margin-top: 3%;
    font-size: 1.5vw;
    font-family: Belanosima;
    font-style: normal;
    font-weight: 400;
}

.mesas-container-pedidos{
    width: 80%;
    margin: 0 auto;
}

.coamanda-cabecalho{
    display: flex;
    align-items: flex-start;
    justify-content: start;
}

.comanda-container-pedidos {
    border-radius: 1vw;
    border: 0.2vw solid #B42625;
    background: #141C1E;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.nome-pedido-feito{
    color: #FFF;
    font-family: Belanosima;
    font-size: 1.5vw;
    font-weight: 600;
    display: block;
}

.descricao-pedido-feito{
    font-family: Alata;
    font-weight: 400;
    
}

.valor-pedido-feito{
    color: #FFBA21;
    font-family: Alata;
    font-weight: 400;
    font-size: 1.2vw;
    display: flex;
    justify-content: flex-end;
    margin-right: 3%;
}

.pedidos-feitos{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    gap: 40px;
}

.total-pedido-feito{
    color: #FFF;
    font-family: Alata;
    font-weight: 400;
    font-size: 1.2vw;
    & span{
        margin-left: 0.1rem;
        & span{
            margin-right: 0.35rem;
        }
    }
}

.descricao-container-pedido-feito{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    font-size: 1vw;
}

.img-pedido{
    width: 100%;
    margin: 0;
}

.forma-de-pagamento{
    color: #FFF;
    font-family: Belanosima;
    font-size: 1.3vw;
    font-weight: 400;
    border-bottom: 0.2vw solid #AA2322;
}

.pagamento{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 50px 0;
}


.botao-excluir-comanda {
    padding: 0.5vw 1vw;
    font-size: 1vw;
    font-family: Alata;
    background-color: #AA2322;
    color: #FFF;
    border: none;
    border-radius: 0.5vw;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
}

.botao-excluir-comanda:hover {
    background-color: #B42625;
}

.botoes-comanda {
    display: flex;
    justify-content: center;
}

.comanda-concluida {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
    height: 3vh;
    width: 10vw;
    padding: 2vw;
    background-color: #28a745;
    border-radius: 20px;
    position: relative;
}



.mensagem-concluida {
    color: white;
    font-family: Alata;
    font-size: 1.2vw;
    font-weight: 500;
}
 */
