body,
html {
    width: 100%;
    height: 100%;
}

.quem_somos {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--vermelho);
    z-index: 1;
}

.quem_somos_img {
    width: 55%;
    height: 100%;
    background-image: url('../../assets/quemsomos/foodtruck.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: end;
}

.quem_somos_img .img_overlay {
    height: 100%;
    width: 50%;
    background: linear-gradient(to right, transparent, var(--vermelho));
}
.banner_text{
    text-align: left;
    width: 35%;
}
.banner_text h1 {
    font-size: 80px;
    text-shadow: 0px 10px 5px rgba(0, 0, 0, 0.219);
    font-family: 'Belanosima';
}

.banner_text p {
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.quem_somos_detalhes {
    width: 100%;
    background-color: rgb(22, 21, 21);
    border-top: 6px #FFBA21 solid;
}

.quem_somos_content{
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
}


.quem_somos_texto {
    color: white;
    font-family: 'Belanosima';
    text-align: left;
}

.quem_somos_texto h2 {
    font-size: 40px;
    color: #FFBA21;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: left;
}

.quem_somos_texto p {
    font-size: 22px;
    line-height: 1.6;
    width: 60%;
}

.quem_somos_imagem {
    width: 30%;
    border-radius: 15px;
}

.contato_localizacao {
    color: white;
    font-family: 'Belanosima', sans-serif;
    background-color: #B42625;
    border-top: 6px #FFBA21 solid;
}
.contato_localizacao .links{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 35px 0;
}
.contato, .localizacao, .horario {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    width: 20%;
}
.horario{
    width: 15%;
}
.local, .dias{
    width: 100%;
    text-align: left;
}
.contato h2,
.localizacao h2, .horario h2 {
    font-size: 20px;
    font-weight: bold;
    color: #ffc107;
}

.contato_item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    font-size: 15px;
}

.contato_item img {
    width: 30px;
    height: 30px;
}


@media (max-width: 768px) {
    .contato_localizacao {
        flex-direction: column;
    }
}